/* ------------------------------------------首页主题配置------------------------------------------*/
/* 段落或页面主体的主题 */
.body {
    /* 初始化 取消内外边距 */
    margin: 0;
    padding: 0;
    /* 渐变背景 */
    background: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
    /* 指定背景图像的大小 */
    background-size: 500% 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 15s linear infinite;
}

/* 定义动画 */
@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 当屏幕宽度小于或等于966px时将增加.heroBanner元素的内边距以适应较小的屏幕 */
@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}